
/* page header image */
.MainPageHeader-body
{
  height: 1000px;
  position:relative;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

/* <!--body--> */
body{
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color:black;
   font-family: Verdana, sans-serif;
}

/* <!--navigation--> */
nav{
  position:fixed;
  bottom: 0%;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 5px solid white;
  float:left
}

ul li a:last-child{
  border-right: none;
  float:right;

}

ul li a:hover {
  background-color: #111111;
}

ul li a.active{
  background-color: aliceblue;
}

/* nav page direction  */
#projects, #about-me {
  background-color:#333333;
  border-style:  outset  outset hidden hidden ;
  padding: 50px;
  margin: 0px;
  border-radius: 15px 15px 0px 0px;
  color: white;
  font-size: 30px;
}

#blog{
  color: white;
  margin: 0;
  margin-bottom: 30px;
  background-color: #111111;
  border-style: hidden outset outset hidden ;
  border-radius: 0px 0px 15px 15px ;
  padding: 10px;
  min-height: 500px;
}

#blog .blogContent{
  border-style: hidden outset outset hidden;
  border-radius:  15px;
  min-height: 300px;
  max-height: 1000px;
  margin-top: 15px;
}

#blog .blogContent .blogText{
  width: 65%;
  text-align: left;
  padding-left: 5px;
}

#blog .blogContent .blogTitle{
  padding-left: 15px;
  border-radius:  15px 15px 0px 0px;
  background-color: #333333;
  font-size: 25px;
}

footer{
  height: 500px;
}