
/* page header image */
.MainPageHeader-body
{
  height: 1000px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

/* <!--body--> */
body{
  background-color:black;
   font-family: Verdana, sans-serif;
}

/* <!--navigation--> */
nav{
  position:sticky;
  bottom: 0%;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 5px solid white;
  float:left
}

ul li a:last-child{
  border-right: none;
  float:right;

}

ul li a:hover {
  background-color: #111111;
}

ul li a.active{
  background-color: aliceblue;
}

/* nav page direction  */
#projects, #underSection {
  background-color:rgb(41, 41, 41);
  border-style:  outset ;
  color: white;
  padding: 50px;

}


.blog{
  color:white;
  position:fixed;
  min-width: 95%;
}

#blog .content{
  position: relative;
  max-height: 10000px;
  min-height: 250px;
  border-style: outset ;
  background-color: #333333;
  border-radius:  0px 0px 15px  15px;

}

#sector{
  display: flex;
  background-color: red;
  padding: 15px;  

  flex-wrap: wrap;
  justify-content: flex-start;
  color: white;
  margin: 15px;
  font-size: 24px;
  background-color: rgb(88, 88, 88);
  min-width:  70%;
  min-height: 250px;
  border-style:   outset ;
  border-radius: 15px ;
}

#sector .heading{
  width: 100%;
  top: 0;
  font-size: 30px;
  height: 20%;

}

#sector .body{
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

#sector .text{
  top: 40%;
  width: 40%;
  float:left;
  font-size: 35px;
  padding: 15px;
}

#sector .text2{
  top: 40%;
  float:left;
  font-size: 35px;
}
#sector .imageSection {
  position: relative;
  width: 30%;
  float:right;
  margin-top: 10px;
  margin-left:20%;
  margin-right:2%;
  height: 300px;
  border-radius: 15px;
  border-style: outset ;
  background-color: black;
}

#sector .image
{
  display: block;
  margin:auto;
  height: 100%;
}


#sector .image2
{
  display: block;
  margin:auto;
  height: 100%;
}

.prev,
.next {
   cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next{
  right: 0;
}
.prev{
  left: 0;
}

#sector .link{
  bottom: 0;
  width: 45%;
  float:left;
}
video{
  background-color: black;
  border-radius: 15px;
}
img{
  border-radius: 15px;
}

footer{
  height: 100px;
}